<% if @chatroom %>
  <div class="row col-md-12 panel-body">
    <h3><%= @chatroom.topic %></h3>
    <div class="panel panel-default">
      <% if @chatroom.messages.any? %>
        <div class="panel-chat" id="messages">
          <%= render partial: 'messages/message', collection: @chatroom.messages%>
        </div>
      <%else%>
        <div class="panel-body hidden" id="messages">
        </div>
      <%end%>
    </div>
    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
  </div>
<% end %>