/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */
 
 .results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  .btn-danger:hover {
    background-color: darken(#d9534f, 20%) !important;
  }
}

.panel-body {
  overflow: auto;
}

.panel-chatrooms {
  min-width: 340px;
  overflow: auto;
}

.panel-chat {
  max-height: 300px;
  overflow: auto;
}

.btn {
  margin-top: 5px;
}

.stocks-container {
  margin-left: 60px;
}

.modal {
 /* display: none;  Hidden by default */
  position:relative;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 5px;
  border: 1px solid #888;
  text-align: right;
}

.modal-body {
  min-height: 300px;
  max-width: 800px;
}

.frame {
  text-align: left;
}

.modal-css {
  position: fixed;
  bottom: 0px;
  right: 0px;
  min-width: 300px;
}

.test {
  vertical-align: top;
  text-align: right;
}